{%extends "users/base.html"%}


{%block content%}
<h4>Family Savings - {{year}}</h4>
<table class="table table-bordered text-center">
    <thead class="table-light">
        <tr>
            <th>Family Name</th>
            {% for month_no, month_name in months %}
                <th>{{ month_name }}</th>
            {% endfor %}
            <th class="table-warning">Total</th>
        </tr>
    </thead>
    
    <tbody>
        {%for row in data%}
            <tr>
                <td class="text-start fw-bold">{{row.user.username}}</td>

                {% for month, amount in row.months.items %}
                <td>
                    {% if is_readonly %}
                        {{amount|default:"-"}}
                    {%else%}
                        <input type="number" class="form-control form-control-sm saving-input" value="{{amount}}" data-user="{{row.user.id}}" data-month="{{month}}" step="0.01">
                    {%endif%}                    
                </td>
                {%endfor%}

                <td class="fw-bold row-total">{{row.total}}</td>
            </tr>
        {%endfor%}
    </tbody>
</table>
<script>
    document.querySelectorAll(".saving-input").forEach(input=>{
        input.addEventListener("change", function(){
            const userId = this.dataset.user;
            const month= this.dataset.month;
            const year= "{{year}}";
            const amount= this.value;

            fetch("{%url 'save_monthly_saving'%}", {
                method: "POST",
                headers: {
                    "X-CSRFToken": "{{csrf_token}}",
                    "content-type": "application/x-www-form-urlencoded"
                },

                body: new URLSearchParams({
                    user_id: userId,
                    month: month,
                    year: year,
                    amount: amount
                })
            })
            .then(response=> response.json())
            .then(data=>{
                if (data.success){
                    const row = this.closest('tr');
                    let total = 0;
                    row.querySelectorAll('.saving-input').forEach(i=>{
                        total += parseFloat(i.value || 0);
                    })
                    // row.querySelector('.row_total').innerText=total.toFixed(2);
                    row.querySelector('.row-total').textContent = total.toFixed(2);
                }
                else {
                    alert("Error saving data");
                }
            })
            .catch(error=>{
                console.error('Save error:', error);
                alert("Failed to save: " + (error.error || error.message || error));
            });
        })
    })
</script>
{%endblock%}