{%extends "users/base.html"%}


{%block content%}
<h4>Family Savings - {{year}}</h4>
<table class="table table-bordered text-center">
    <thead class="table-light">
        <tr>
            <th>Family Name</th>
            {% for month_no, month_name in months %}
                <th>{{ month_name }}</th>
            {% endfor %}
            <th class="table-warning">Total</th>
        </tr>
    </thead>
    
    <tbody>
        {%for row in data%}
            <tr>
                <td class="text-start fw-bold">{{row.user.username}}</td>

                {% for month, amount in row.months.items %}
                <td>
                    {% if is_readonly %}
                        {{amount|default:"-"}}
                    {%else%}
                        <input type="number" class="form-control form-control-sm" value="{{amount}}" data-member="{{row.member.id}}" data-month="{{month}}">
                    {%endif%}                    
                </td>
                {%endfor%}

                <td class="fw-bold">{{row.total}}</td>
            </tr>
        {%endfor%}
    </tbody>
</table>
{%endblock%}