{% extends "users/base.html" %}
{% block title%}Login{%endblock%}
{%block content%}
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card shadow p-4">
                <h3 class="text-center mb-3">Login</h3>
                <form action="" method="post" class="card p-4 shadow">
                    {%csrf_token%}
                    <input type="text" name="username" required><br><br>
                    <input type="password" name="password" required><br><br>
                    <button type="submit">Login</button>
                </form>
                <a href="/password-reset/">Forgot Password?</a>
                {% if error %}
                <p style="color: red;">{{error}}</p>
                {% endif %}
            </div>
        </div>
    </div>
     
{%endblock%}