{%extends "users/base.html"%}
{%block title%}Role List{%endblock%}

{%block content%}
    <h3>Role List</h3>
    {%if request.user.role.role_name == "admin" %}
        <a href="/roles/create/" class="btn btn-success">New</a>
    {%endif%}
    <div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>Role Name</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {%for r in roles%}
                <tr>
                    <td>{{r.role_name}}</td>
                    <td>{{r.description}}</td>
                    <td class="text-center">
                        {% if request.user.role.role_name == "admin" %}
                            <a href="/roles/{{r.id}}/edit/" class="btn btn-sm btn-warning"><i class="bi bi-pencil-square"></i></a>
                            <a href="/roles/{{r.id}}/delete/" class="btn btn-danger"><i class="bi bi-x-square"></i></a>
                        {% endif %}
                    </td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
    </div>
{%endblock%}